.banner{
    background-image:url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    height: 800px;
    width: 1700px;
   
}
.banner-element{
    text-align: right;
    padding: 300px 500px;
} 
.banner-description{
   color: #FFFFFF;
}
.banner-title{
    font-size: 50px;
    color: white;
}
.banner-btn{
    border-radius: 5px;
    background-color: white;
    border: none;
    height: 55px;
    width: 150px;
    margin-top: 28px;
}

.about-failure{
    display: flex;
}
.failure-details{
 height: 600px;
width: 450px;
margin-left: 100px;
margin-top: 300px;

}
.person{
    height: 300px;
    width: 550px;
    margin-left: 300px;
    margin-top: 100px;
   
}
.failure-title{
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 38px;
}

.failure-list li {
    list-style: none;
}
.failure-description{
   color:  #444343;
font-size: 21px;
padding-left: 40px;
}
.failure-list{
    font-size: 20px;
    width: 650px;
    height: 200px;
} 

i{
color: chartreuse;
}
.plan-title{
    text-align: center;
    font-size: 40px;
}
.plan-item{
    display: flex;
 justify-content: center;
 gap: 200px;
text-align: center;

}
p{
    font-size: 19px;
color: #737272;

}
h2{
    font-size: 25px;
}
 .template{
    background-image: url("../images/watch.png"); 
    height: 500px;
    background-repeat: no-repeat;
   margin-left: 270px;
  margin-top: 150px;
   
} 
 .template-item{
height: 300px;
width: 400px;
padding-top: 50px;
padding-left: 100px;
color: #FFFFFF;
} 
h1{
    font-size: 40px;
}
    .call-btn{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 150px;
    border: none;
    color: #e2740c;
}
.liniar-template{
    height:301px;
    width:1141px;
    margin-bottom: 500px;
    border-radius: 4px;
    background:linear-gradient( to right,rgba(240, 70, 18, 0.8),rgba(255, 94, 0, 0.1)) 

}
.last-part{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 500px;
    justify-content: space-between;
   
}
.future-part{
    height: 300px;
    width: 500px;
    padding-left: 200px;
    padding-top: 100px;
}
.subscribe-part{
    height: 300px;
    width: 500px;
    padding-left: 200px;
    padding-top: 100px;
    text-align: left;
}
.subscribe-btn{
    border-radius: 5px;
     background-color:white;
    height: 55px;
    width: 130px;
    border: none;
    color: #e2740c;
    margin-top: 12px;
    font-size: 15px;
}
.achievement-container{
    display: flex;
    margin-bottom: 200px;
    border-radius: 10px;
    justify-content: space-between;
}
.achivement-text{
    height: 200px;
    width: 400px;
    margin-left: 260px;
    padding-bottom: 100px;
}
.button{
    border-radius: 5px;
    background-color:rgb(0, 0, 0);
   height: 55px;
   width: 150px;
   border: none;
   color:red;
   margin-top: 12px;
   font-size: 15px;
}